* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.3rem;
}

.main-header {
  background: #8e9870;
  color: white;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 90%;
  padding: 2rem;
  margin: auto;
}

nav ul {
  display: flex;
  flex: 3 1 20rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  flex: 2 1 20rem;
}

ul li a {
  color: white;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "poppin", sans-serif;
  min-height: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 80vh;
  width: 30rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sneaker img {
  z-index: 2;
  width: 20rem;
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(184, 140, 196, 0.75),
    rgba(240, 230, 140, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 2.2rem;
}

.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #708090;
  font-weight: lighter;
}

.size {
  display: flex;
  justify-content: space-between;
}

.size button {
  padding: 0.5rem 1.4rem;
  margin: 0px 0.15rem;
  background: none;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.808);
}

button.active {
  background: rgb(119, 115, 115);
  color: white;
}

.purchase {
  margin-top: 4rem;
}
.purchase button {
  width: 100%;
  margin-bottom: 2rem;
  padding: 10px 5px;
  background: rgb(126, 104, 204);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  font-weight: bolder;
}
